/* Mobile First */

*, *::after, *::before {
    font-family: "Libertinus Math", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */

body {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}


.header-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgb(30, 122, 150);
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 45%);
}
.introduction {
    position: relative;
    min-height: 400px;
    min-width: 200px;
    margin: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name {
    position: absolute;
    bottom: 16rem;
    color: white;
    font-size: 4rem;
    margin-left: 1rem;
    line-height: 5rem;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.5));
}

.about-me {
    text-align: center;
    margin-bottom: 0.5rem;
}

.lorem {
    line-height: 1.6rem;
    margin-left: 1rem;
    text-align: left;
}

.icon-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Main Section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-work {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.project {
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    border-radius: 2px;

    transition: transform 0.2s ease-in-out;
}

.project-desc {
    margin-left: 1rem;
}
/* image div */
.project-image {
    max-height: 70%;
    max-width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* info div */
.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.project-links {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

/* Footer Section*/

footer {
    background-color: rgb(30, 122, 150);
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerInfo {
    min-height: 550px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.calltoaction {
    font-size: 4rem;
    text-align: center;
}

.ctaText {
    font-size: 1.9rem;
    font-weight: 500;
}

.address, .contacts {
    font-size: 1.2rem;
}

.icon {
    display: none;
}

.big-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.image-child {
    height: auto;
    max-width: 100%;
}



/* Font Classes */

.libertinus {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}


.oswald-main {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /* Logo Sizes */

.logo {
    height: 36px;
    width: 36px;
}

.small {
    height: 24px;
    width: 24px;
}   
    .big {
    height: 48px;
    width: 48px;
}

/* Transitions */

.project:hover {
    transform: translateY(-12px);
}


/* Media Queries Tablet  */

@media (min-width: 500px) and (max-width: 1000px) {

/* Header */

    .header-background {
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 60%);
    }

    .introduction {
        float: left;
        max-width: 350px;
        max-height: 200px;
        height: 350px;
        z-index: 2;
    }
    .intro-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .name {
        position: absolute;
        left: 13rem;
        bottom: 20rem;
        width: auto;
        white-space: nowrap;
    }

    .about-me-background {
        position: relative;
        background-color: white;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.2);
        top:10rem;
        z-index: 1;
        margin: 3rem;
        min-height: 450px;
        max-width: 650px;
        transform: translateY(-100px);
        padding-bottom: 20px;
        padding-top: 10px;
        margin-left: 7rem
    }

    .about-me {
        margin-top: 5rem;
    }

    .lorem {
        max-width: 60ch;
        font-size: 1.1rem;
        word-spacing: 10px;
        margin-bottom: 2rem;
    }

    .icon-links {
        justify-content: flex-end;
        margin-right: 2rem;
    }
    /* Main Section */

    section {
        padding: 0 4rem 4rem 4rem;
    }

    .my-work {
        align-self: start;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        row-gap: 4rem;
    }

    .project-info {
        flex-grow: 1;
        justify-self: end;
    }

    /* Footer */

    footer {
        flex-direction: row;
    }

    .footerInfo {
        flex-grow: 2;
        padding: 2rem;
        gap: 2rem;
    }

    .calltoaction {
        white-space: nowrap;
    }

    .ctaText {
        font-size: 1.3rem;
        font-weight: normal;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
    }


    .icon {
        display: inline;
        font-size: 2rem;
        margin-right: 1rem;
    }

    .icon-links {
        justify-content: flex-start;
    }

    .footerImg {
        padding: 4rem;
    }
}