/* Mobile First */

*, *::after, *::before {
    font-family: "Libertinus Math", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */

body {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.header-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgb(30, 122, 150);
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 45%);
}
.introduction {
    background: no-repeat url(images/pexels-matteo-sarri-2152532088-32495048.jpg);
    background-position: center;
    min-height: 400px;
    min-width: 200px;
    margin: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name {
    color: white;
    font-size: 4rem;
    margin-left: 2rem;
    line-height: 6rem;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.5));
}

.about-me {
    text-align: center;
    margin-bottom: 0.5rem;
}

.lorem {
    line-height: 1.6rem;
    margin-left: 1rem;
    text-align: left;
}

.icon-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Main Section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-work {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.project {
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    border-radius: 2px;

    box-sizing: content-box;
    transition: transform 0.5s ease-in-out;
}

.project-desc {
    margin-left: 1rem;
}
/* image div */
.project-image {
    max-height: 70%;
    max-width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* info div */
.project-info {
    position: relative;
    height: 60%;
}

.project-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.project-links {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

/* Footer Section*/

footer {
    background-color: rgb(12, 194, 185);
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.footerInfo {
    padding: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.calltoaction {
    font-size: 4rem;
    text-align: center;
}

.ctaText {
    font-size: 1.9rem;
    font-weight: 500;
}

.address, .contacts {
    font-size: 1.2rem;
}

.big-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.image-child {
    height: 100%;
    width: 100%;
}



/* Font Classes */

.libertinus {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}


.oswald-main {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /* Logo Sizes */

.logo {
    height: 36px;
    width: 36px;
}

.small {
    height: 24px;
    width: 24px;
}
.big {
    height: 48px;
    width: 48px;
}

/* Transitions */

.project:hover {
    transform: scale(1.1);
}


/* Media Queries Tablet  */

